<!DOCTYPE html>
<!-- saved from url=(0043)https://colorlib.com/preview/theme/startup/ -->
<html lang="zxx" class="no-js" style="display: block;">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1,
      shrink-to-fit=no">

    <link rel="shortcut icon" href="https://colorlib.com/preview/theme/startup/img/fav.png">

    <meta name="author" content="codepixer">

    <meta name="description" content="">

    <meta name="keywords" content="">

    <meta charset="UTF-8">

    <title>Startup</title>
    <link href="/css/css" rel="stylesheet">

    <link rel="stylesheet" href="/css/linearicons.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/fonts/css/all.css">
    <style>
        .{{url}}{
            border-bottom: solid 5px #399ad1;
        }
    </style>
    {{{_sections.stylesSheet}}}
    <script type="text/javascript" charset="UTF-8" src="/js/common.js"></script>
    <script type="text/javascript" charset="UTF-8" src="/js/util.js"></script>
</head>

<body style="display: block;"><button type="button" id="mobile-nav-toggle"><i class="fa fa-bars"></i></button>
    <header id="header" class="">
        <div class="container">
            <div class="row align-items-center justify-content-between d-flex">
                <div id="logo">
                    <a href="/"><img src="/img/logo/logo_sms_go.png" alt=""
                            title=""></a>
                </div>
                <nav id="nav-menu-container">
                    <ul class="nav-menu sf-js-enabled sf-arrows" style="touch-action:
              pan-y;">
                        <li class="home">
                            <a href="/">Home</a></li>
                        <li class="api">
                            <a href="/api">Api</a></li>
                        <li class="about">
                            <a href="/about">About</a></li>
                        <li class="project">
                            <a href="/project">Project</a></li>
                        {{#if user}}
                        <li class="cpanel">
                            <a href="/io/{{user.name}}">
                            <button class="btn  btn-info" style="padding:5px; margin-top:-5px">Control panel</button></a>
                            </li>

                        <li>
                            <a href="/authentication/signout"><i class="fa fa-sign-out-alt fa-1x" ></i></a></li>
                        {{else}}
                        <li class="authentication">
                            <a href="/authentication">Login/Register</a></li>
                        {{/if}}

                    </ul>
                </nav>
            </div>
        </div>
    </header>

    <section class="banner-area" id="home" style="margin-top:100px">
        <div class="container">
            <div class="row fullscreen d-flex align-items-center
          justify-content-center" style="height: 911px;">
                {{#if success_msg}}
                <div class="alert alert-success">{{success_msg}}</div>
                {{/if}}
                {{#if error_msg}}
                <div class="alert alert-danger">{{error_msg}}</div>
                {{/if}}
                {{#if error}}
                <div class="alert alert-danger">{{error}}</div>
                {{/if}}
                {{{body}}}
            </div>
        </div>
    </section>


    <script src="/js/jquery-2.2.4.min.js"></script>
    <script src="/js/jquery.validate.min.js"></script>
    <script src="/js/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/js/js"></script>
    <script src="/js/easing.min.js"></script>
    <script src="/js/hoverIntent.js"></script>
    <script src="/js/superfish.min.js"></script>
    <script src="/js/jquery.ajaxchimp.min.js"></script>
    <script src="/js/jquery.magnific-popup.min.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/jquery.sticky.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/parallax.min.js"></script>
    <script src="/js/mail-script.js"></script>
    <script src="/js/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
    $(function () {
        socket = io();
        socket.emit('chat message', 'we start');
    });
    </script>
    <script async="" src="/js/js(1)"></script>
    {{{_sections.scripts}}}
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');

    </script>


    <nav id="mobile-nav">
        <ul class="" style="touch-action: pan-y;" id="">
            <li class="menu-active"><a href="https://colorlib.com/preview/theme/startup/#home">Home</a></li>
            <li><a href="https://colorlib.com/preview/theme/startup/#offer">We Offer</a></li>
            <li><a href="https://colorlib.com/preview/theme/startup/#about">About</a></li>
            <li><a href="https://colorlib.com/preview/theme/startup/#project">Project</a></li>
            <li><a href="https://colorlib.com/preview/theme/startup/#price">Price</a></li>
            <li class="menu-has-children"><i class="lnr lnr-chevron-down"></i><a href="" class="sf-with-ul">Pages</a>
                <ul style="display: none;">
                    <li><a href="https://colorlib.com/preview/theme/startup/generic.html">Generic</a></li>
                    <li><a href="https://colorlib.com/preview/theme/startup/elements.html">Elements</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="mobile-body-overly"></div>
</body>

</html>